# Sanal ortamlar
.venv/
venv/

# Git ve IDE
.git/
.gitignore
.vscode/
.idea/

# Cache
__pycache__/
*.pyc
*.pyo
*.db
*.log

# Büyük dosyalar
*.csv
*.xlsx
*.xls
*.parquet
*.zip

# Frontend'i Docker dışında tut
frontend/
